@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@font-face {
    font-family: JetBrainsMono-Bold; src: url("./JetBrainsMono-Bold.ttf");
} 

* {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

h1, p {
    text-align: center;
}

#input {
    width: 50%;
    height: 70.2vh;
    position: absolute;
    bottom: 0%;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}

#convert {
    position: absolute;
    left: 50.5%;
    height: 71vh;
    bottom: 0%;
}

#output {
    width: 48%;
    height: 70.7vh;
    position: absolute;
    left: 52.5%;
    bottom: 0%; 
    padding: 0px;
    border: 1px solid #000;
}

#logo {
    position: absolute;
    left: 70%;
    top: 0%;
}

#settings {
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
}

#btn-container {
    position: absolute;
    top: 15%;
    left: 36%;
}

.button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#popup {
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: #979191;
    width: 70%;
    height: 40%;
    display: none;
}